@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Russo+One&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-image: url(./drew-coffman-jUOaONoXJQk-unsplash-edit.jpg);
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: "Krona One", sans-serif;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: blanchedalmond;
  width: 50%;
  padding: 1rem;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.restaurant-name {
  font-size: 1.5rem;
}

.container {
  display: grid;
  place-items: center;
  height: 100%;
  color: white;
  margin-top: -12vh;
}

.cta {
  margin-top: 10vh;
}

.cta h1 {
  font-size: 8rem;
}

.cta button {
  outline: none;
  border: none;
  background-color: bisque;
  padding: 3rem;
  font-family: "Krona One", sans-serif;
  font-size: 1.2rem;
}

.emoji-logo {
  font-size: 40px;
}

address {
  margin-top: 10vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
fieldset {
  width: 100%;
  border: 1px solid #333;
  box-sizing: border-box;
}

input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}
