@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Russo+One&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-image: url(./images/drew-coffman-jUOaONoXJQk-unsplash-edit.jpg);
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  overflow: hidden;
}

.App {
  text-align: center;
  font-family: "Krona One", sans-serif;
  height: 100vh;
  visibility: hidden;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: bisque;
  width: 50%;
  padding: 1rem;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.restaurant-name {
  font-size: 1.5rem;
}

.page {
  display: grid;
  place-items: center;
  height: 100%;
  color: white;
  margin-top: -12vh;
  opacity: 1;
}

.cta {
  margin-top: 10vh;
}

.cta h1 {
  font-size: 8rem;
}

.cta button {
  outline: none;
  border: none;
  background-color: bisque;
  padding: 3rem;
  font-family: "Krona One", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.emoji-logo {
  font-size: 40px;
}

.cta address {
  margin-top: 10vh;
}

.contact-container address {
  color: bisque;
  font-size: 1.5rem;
  transition: all ease-in-out 0.3s;
}

.contact-container address:hover {
  font-size: 1.8rem;
}

.menu-container {
  display: flex;
  justify-content: center;
}

.menu-item-container {
  color: black;
  background-color: bisque;
  width: 300px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.menu-item-container img {
  width: 75%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.contact-container {
  display: flex;
  width: 75%;
  justify-content: space-around;
  align-items: center;
}

.phone-number {
  font-size: 3rem;
  transition: all ease-in-out 0.3s;
  color: bisque;
}

.phone-number:hover {
  font-size: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
}

form button {
  font-family: "Krona One", sans-serif;
  width: 250px;
  height: 50px;
  margin: 1rem auto;
  outline: none;
  border: none;
  background-color: bisque;
  cursor: pointer;
}

input[type="email"],
textarea,
fieldset {
  width: 100%;
  border: 1px solid #333;
  box-sizing: border-box;
  margin-top: 1rem;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 600ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
